{
	email {$ACME_EMAIL}
}

{$DOMAIN} {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}
	reverse_proxy auth:4180
	log {
		output file /data/access.log {
			roll_size 20MiB
			roll_keep 10
		}
	}
}
